@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FAFCFD;
  --secondary-color: #FBFAFC;
  --text-color: #1E1E1E;
  --blue: #3366FF;
  --dash-color: #F2F6FD;

}

.light-mode {
  --primary-color: #FAFCFD;
  --secondary-color: #fafafa;
  --text-color: #1E1E1E;
  --blue: #3366FF;
  --dash-color: #f2f6fd; 
}

.dark-mode {
  --primary-color: #171717;
  --secondary-color: #1E1E1E;
  --text-color: #FBFAFC;
  --blue: #3366FF;
  --dash-color: #1E1E1E;
}
::-webkit-scrollbar{
  display: none;
}